In [8]:
import numpy as np 
import pandas as pd 
import warnings
warnings.simplefilter(action="ignore")
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error

In [9]:
train = pd.read_csv('train.csv', parse_dates=['date'],index_col=['date'])

In [10]:
test = pd.read_csv('test.csv', parse_dates=['date'],index_col=['date'])

In [11]:

train['day']=train.index.day
train['month']=train.index.month
train['year']=train.index.year
train['dayofweek']=train.index.dayofweek
train['weekofyear']=train.index.isocalendar().week
train['is_weekend']=train.index.dayofweek

In [12]:
train

,store,item,sales,day,month,year,dayofweek,weekofyear,is_weekend
date,,,,,,,,,
2013-01-01,1,1,13,1,1,2013,1,1,1
2013-01-02,1,1,11,2,1,2013,2,1,2
2013-01-03,1,1,14,3,1,2013,3,1,3
2013-01-04,1,1,13,4,1,2013,4,1,4
2013-01-05,1,1,10,5,1,2013,5,1,5
...,...,...,...,...,...,...,...,...,...
2017-12-27,10,50,63,27,12,2017,2,52,2
2017-12-28,10,50,59,28,12,2017,3,52,3
2017-12-29,10,50,74,29,12,2017,4,52,4
2017-12-30,10,50,62,30,12,2017,5,52,5
2017-12-31,10,50,82,31,12,2017,6,52,6

In [13]:
test['day'] = test.index.day
test['month'] = test.index.month
test['year'] = test.index.year
test['dayofweek'] = test.index.dayofweek
test['weekofyear']  = test.index.isocalendar().week
test['is_weekend'] = test.index.dayofweek

In [14]:
test

,id,store,item,day,month,year,dayofweek,weekofyear,is_weekend
date,,,,,,,,,
2018-01-01,0,1,1,1,1,2018,0,1,0
2018-01-02,1,1,1,2,1,2018,1,1,1
2018-01-03,2,1,1,3,1,2018,2,1,2
2018-01-04,3,1,1,4,1,2018,3,1,3
2018-01-05,4,1,1,5,1,2018,4,1,4
...,...,...,...,...,...,...,...,...,...
2018-03-27,44995,10,50,27,3,2018,1,13,1
2018-03-28,44996,10,50,28,3,2018,2,13,2
2018-03-29,44997,10,50,29,3,2018,3,13,3
2018-03-30,44998,10,50,30,3,2018,4,13,4
2018-03-31,44999,10,50,31,3,2018,5,13,5

In [15]:
rfr = RandomForestRegressor(n_estimators=50, min_samples_leaf = 7, random_state=123)

# Add weights to most recent data
train_main = pd.concat([train,
                        train.loc[train.index > train.index.max()- pd.DateOffset(30, 'D')],
                        train.loc[train.index > train.index.max()- pd.DateOffset(30, 'D')],
                        train.loc[train.index > train.index.max()- pd.DateOffset(15, 'D')]
                       ])

# Train a model
rfr.fit(X=train_main[['store', 'item','day','month','year','dayofweek','weekofyear','is_weekend']], y=train_main['sales'])

# Get predictions for the test set
test['sales'] = rfr.predict(test[['store', 'item','day','month','year','dayofweek','weekofyear','is_weekend']])

In [16]:
test['sales']

date
2018-01-01    12.666539
2018-01-02    13.775233
2018-01-03    13.965174
2018-01-04    13.911531
2018-01-05    18.088405
                ...
2018-03-27    64.025009
2018-03-28    65.547786
2018-03-29    68.530920
2018-03-30    78.484949
2018-03-31    79.197718
Name: sales, Length: 45000, dtype: float64

In [17]:

import pickle
## open a file , where you want to store the data
file = open('model.pkl','wb')

##dump information to that file
pickle.dump(rfr, file)

In [18]:
file = open('model.pkl','rb')

In [19]:
type(file)

_io.BufferedReader

In [20]:
m1 = pickle.load(file)

In [21]:
m1

RandomForestRegressor(min_samples_leaf=7, n_estimators=50, random_state=123)